<%= apphelp_view_hint( :card_cvv ) %>

<p />
<table border="0" cellspacing="0" cellpadding="0" class="no_border abuted cvv_help" align="center">
  <tr>
    <td>
      <%= image_tag( "wikipedia/CVC2SampleVisaNew.png", :alt => "Example", :size => "240x151" ) %>
    </td>
    <td>&nbsp;</td>
    <td>
      <%= image_tag( "wikipedia/CIDSampleAmex.png", :alt => "Example", :size => "240x151" ) %>
    </td>
  </tr>
</table>

<p />
<div align="center">
  <span class="view_hint">
    <%=
        apphelp_view_hint(
          :card_cvv_image_attribution,
          HelpController,
          {
            :link => link_to(
              "http://en.wikipedia.org/wiki/Card_Verification_Value",
              "http://en.wikipedia.org/wiki/Card_Verification_Value"
            )
          }
        )
    %>
  </span>
</div>