<p>
  <%= apphelp_view_hint( :poll_state_help_intro ) %>
</p>

<dl>
<%
   %w{ a_open b_underway c_completed d_expired }.each do | state |
-%>
  <dt><%= apphelp_state( state, PollsController ) %></dt>
  <dd>
    <%= apphelp_view_hint( "poll_state_help_#{ state }" ) %>
  </dd>
<% end -%>
</dl>