/************************************************************************\
 * File:    default_general.css                                         *
 *          Hipposoft 2009, 2010, 2011                                  *
 *                                                                      *
 * Purpose: Default stylesheet, all media types.                        *
 *                                                                      *
 * History: 11-Dec-2009 (ADH): Created.                                 *
 *          18-Feb-2011 (ADH): Abridged version imported from Artisan.  *
\************************************************************************/

form {
  margin: 0;
  padding: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1, h3 {
  margin-bottom: 20px;
}

/* On some operating system / browser combinations, underlines obscure e-mail
 * address underscores which can lead to confusion.
 */

a.email {
  text-decoration: none;
  padding-right: 20px;
  background-image: url( ../images/icons/email_go.png );
  background-position: center right;
  background-repeat: no-repeat;
}

/* Don't underline "close" buttons */

.leightbox a.lbAction {
  border-bottom: none;
}

/* Definition lists (rarely used; e.g. on the video attachment help page) */

dt {
  font-weight: bold;
  font-size: 120%;
  margin-top: 20px;
  margin-bottom: 5px;
}

dd {
  margin-left: 20px;
}

/* General "floating icon" based pages and variants */

div.icon_page {
  background: top left no-repeat;
  padding-left: 110px;
  margin-top: 25px;
}

div.icon_page.help {
  background-image: url( ../images/icons/large/info.png );
}

div.icon_page.delete {
  background-image: url( ../images/icons/large/exclamation.png );
}

/* Round-cornered rectangles on advanced browsers */

.round {
  margin: 5px;
  border: 3px solid #ddd;
  background-color: #f4f4f4;
  display: inline-block;

  border-radius:         10px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;

  padding: 10px;
}

div.round h2 {
  margin-top: 0;
}

div.round ul {
  margin-bottom: 0;
  padding: 0 0 0 17px;
}

div.round td {
  background-color: white;
}

div.round table.no_border td {
  background-color: transparent;
}

div.round td,
div.round th {
  padding: 4px;
}

div.round form, div.round p {
  margin-bottom: 0;
}

/* Generic Flash styles. Things using no specific class for the
 * interior container H2 will fail in MSIE 6 since it doesn't
 * handle the "a > b" selector syntax.
 */

div.flash > h2 {
  margin-top: 20px;
  padding: 10px;

  border: 3px solid #c3c3df;
  background-color: #e3e3ff;

  box-shadow:         #888 0 0 8px;
  -moz-box-shadow:    #888 0 0 8px;
  -webkit-box-shadow: #888 0 0 8px;

  font-weight: normal;

  /* Override things from class 'round', which gets applied too */

  display: block;
}

/* Specialisations for known flash use cases. The two selectors are
 * for (of course) broken stuff in MSIE 6; the first gives the correct
 * specificity to overide "div.flash > div" while the next gives a rule
 * which shouldn't override it, but does in MSIE 6. The two cannot be
 * combined into the same rule with "," because MSIE just throws the
 * whole thing away. Argh!
 */

div.flash > h2.notice {
  border: 3px solid #c3efc3;
  background-color: #e3ffe3;
}
h2.notice {
  border: 3px solid #c3efc3;
  background-color: #e3ffe3;
}

div.flash > h2.attention {
  border: 3px solid #d4c8bc;
  background-color: #ffe8cc;
}
h2.attention {
  border: 3px solid #d4c8bc;
  background-color: #ffe8cc;
}

div.flash > h2.alert,
div.flash > h2.error {
  border: 3px solid #dfc3c3;
  background-color: #ffe3e3;
}
h2.alert,
h2.error {
  border: 3px solid #dfc3c3;
  background-color: #ffe3e3;
}

/* Highlight errors within form submissions */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;        /* For MSIE 6, better than nothing */
  display: inline-block; /* For less useless browsers...!   */
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Collapse margins and padding around "button_to..." forms */

form.button-to {
  padding: 0;
  margin: 0;
}

/* Indicators of special form fields */

span.required_label {
  font-weight: bold;
  font-size: 96%;
}

span.required_indicator {
  color: #800;
  font-size: 75%;
}

/* Form action button styles - see:
 *
 * http://particletree.com/features/rediscovering-the-button-element/
 * http://famfamfam.com/lab/icons/silk/
 */

.buttons {
}

.buttons.aligned {
  text-align: center;
}

.buttons a, .buttons button {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  /* Some browsers reset the font family in button elements, so it must be
   * explicitly restated here.
   */

  font-family: verdana, arial, helvetica, sans-serif;

  font-size: 12px;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
  padding: 5px 7px 6px 7px; /* Links */
  margin: 1px 0; /* Stop vertically stacked buttons from touching */
}

.buttons button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[ type ] {
  padding: 5px 10px 5px 7px; /* Firefox */
  line-height: 17px; /* Safari */
}

*:first-child + html button[ type ] {
  padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img {
  margin: 0 3px -3px -1px !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* Small tweak to make search panel buttons well spaced */

.simple_search .buttons a,
.simple_search .buttons button {
  margin: 4px 0 0 0;
}

div#leightbox_simple_search {
  text-align: center;
}

div#leightbox_simple_search div.simple_search {
  clear: both;
  float: none;
}

/* Full image buttons (e.g. PayPal Express) */

a.image_button:hover {
  background-color: transparent;
}

a.image_button { display: block; } /* MSIE 6 hackery */
a.image_button[ class ] { display: inline; } /* For any other browser */

/* Standard (generic) buttons */

button:hover, .buttons a:hover {
  background-color: #dff4ff;
  border: 1px solid #c2e1ef;
  color: #336699;

  box-shadow:         #888 0 0 4px;
  -moz-box-shadow:    #888 0 0 4px;
  -webkit-box-shadow: #888 0 0 4px;
}

.buttons a:active {
  background-color: #6299c5;
  border: 1px solid #6299c5;
  color: #fff;
}

/* Positive (accept-style) buttons */

button.positive, .buttons a.positive {
  color: #529214;
}

.buttons a.positive:hover, button.positive:hover {
  background-color: #E6EFC2;
  border-color: #C6D880;
  color: #529214;
}

.buttons a.positive:active {
  background-color: #529214;
  border-color: #529214;
  color: #fff;
}

/* Negative (cancellation-style) buttons */

.buttons a.negative, button.negative {
  color: #d12f19;
}

.buttons a.negative:hover, button.negative:hover {
  background-color: #fbe3e4;
  border-color: #fbc2c4;
  color: #d12f19;
}

.buttons a.negative:active {
  background-color: #d12f19;
  border-color: #d12f19;
  color: #fff;
}

/* Cart addition buttons */

button.cart, .buttons a.cart {
  color: #149292;
}

.buttons a.cart:hover, button.cart:hover {
  background-color: #c2efef;
  border-color: #70d8d8;
  color: #166;
}

.buttons a.cart:active {
  background-color: #149292;
  border-color: #149292;
  color: #fff;
}

/* Standard styled but emboldened buttons */

.buttons a.bold,
.buttons a:hover.bold, /* For MSIE 6 */
.buttons a:active.bold /* For MSIE 6 */ {
  border-width: 3px;
}

/* Make some buttons outside tables really obvious */

input.obvious {
  font-weight: bold;
  font-size: 16px;
  color: #050;
}

input.obvious_negative {
  font-weight: bold;
  font-size: 16px;
  color: #500;
}

/* Various content area table styles */

div.content table {
  border: none;
  border-collapse: collapse;
}

div.content td, div.content th {
  padding: 4px;
  border: 1px solid #aaa;
}

div.content th {
  background-color: #bbb;
  border-color: #888;
}

div.content td {
  background-color: #fff;
}

div.content tfoot tr td {
  background-color: transparent;
}

div.content table .corner {
  border: none;
  background-color: transparent;
}

div.content table th.spinner.inline {
  width: 30px; /* Needs 16 for spinner, 4 each side for padding, but rendering bugs in WebKit are avoided by making it wider still */
  min-width: 30px;
  max-width: 30px;
}

div.content #spinner {
  width: 16px;
  height: 16px;
  float: right;
  background: url( ../images/good_sort/ajax-loader.gif ) center center no-repeat;
}

div.content table th.spinner.inline #spinner {
  float: right;
}

div.content .up, div.content .down, div.content th {
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 5px;
  text-align: left;
}

div.content .up {
  background-image: url( ../images/good_sort/up.gif );
  padding-left: 19px;
}

div.content .down {
  background-image: url( ../images/good_sort/down.gif );
  padding-left: 19px;
}

div.content tr.odd td {
  background-color: #fff;
}

div.content tr.even td {
  background-color: #eee;
}

div.content tr.odd td.poll_state.a_open {
  background-color: #efe;
}

div.content tr.even td.poll_state.a_open {
  background-color: #ded;
}

div.content tr.odd td.poll_state.b_underway {
  background-color: #fec;
}

div.content tr.even td.poll_state.b_underway {
  background-color: #edb;
}

div.content tr.odd td.poll_state.c_completed {
  background-color: #eff;
}

div.content tr.even td.poll_state.c_completed {
  background-color: #dee;
}

div.content tr.odd td.poll_state.d_expired {
  background-color: #fee;
}

div.content tr.even td.poll_state.d_expired {
  background-color: #edd;
}

div.content tr.poll_state.a_open {
  font-weight: bold;
}

div.content tr.poll_state td.actions {
  font-weight: normal;
  font-size: 80%;
}

div.content tr.poll_state.c_completed,
div.content tr.poll_state.d_expired {
  color: #aaa;
}

div.content tr.poll_state.c_completed a.help img,
div.content tr.poll_state.d_expired   a.help img {
  overflow: hidden;
  height: 0;
  padding-top: 16px;
  background: url( ../images/icons/help_grey.png ) top center no-repeat;
}

div.content tfoot td {
  border: none;
  padding: 5px 0 8px 0;
}

div.content tfoot div.pagination {
  float: left;
  margin-top: 3px;
}

div.content tfoot div.buttons {
  margin-top: 3px;
  float: right;
}

div.content table.no_border td,
div.content table.no_border th {
  border: none;
}

div.content table.compact td {
  padding: 2px;
}

div.content table.abutted td {
  padding: 0;
  background-color: transparent;
}

div.content table.abutted th {
  background-color: #eee;
}

div.content tr.pagination {
  font-weight: bold;
}

/* Searchable lists */

div.searchable_list {
  float: left;
  margin-right: 10px;
}

div.simple_search {
  margin: 0;
}

/* User hints */

.view_hint {
  font-style: italic;
  font-size: 80%;
}

/* Help icons */

a.help, a.help:hover {
  position: relative;
  top: 3px;
  border-bottom: none;
}

.view_hint a.help {
  top: -2px;
}

/* Generalised floating blocks */

.floaty {
  display: table;
  float: left;
  margin: 0 10px 10px 0;
}

.floaty_clear {
  clear: both;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

/* RedCloth (Textile) input and preview */

textarea.redcloth_preview_source {
  width: 45%;
  min-height: 240px;
  float: left;
}

div.redcloth_preview_outer {
  width: 45%;
  float: right;
  border: 1px solid #ccc;
  padding: 5px;
  min-height: 200px;
  max-height: 450px;
  overflow: auto;
}

div.redcloth_preview_outer span.redcloth_preview_title {
  font-size: 80%;
  color: #888;
}

div.redcloth_preview_inner {
  margin-top: 5px;
  border-top: 1px dashed #ccc;
}

/* View-specific styles */

div.content td.poll_state {
  white-space: nowrap;
}

div.content table.cvv_help {
  background-color: #fff;
  border: 1px solid #ccc;

  box-shadow:         #888 0 0 4px;
  -moz-box-shadow:    #888 0 0 4px;
  -webkit-box-shadow: #888 0 0 4px;
}

div.content table.cvv_help td {
  padding: 6px;
}

div.content table.audit_list td,
div.content table.audit_changes th {
  font-size: 80%;
}

div.content table.audit_changes td {
  background-color: #f8f8f8;
}

div.content table.audit_changes td p:first-child {
  margin-top: 0;
}

div.content table.audit_changes td p:last-child {
  margin-bottom: 0;
}

div.content .financial {
  text-align: right;
}

div.content .donation_debit {
  text-decoration: underline;
  color: #f00;
}
