<h1><%= donationshelp_index_text( params[ :user_id ] ) %></h1>
<% if ( @search_results ) -%><h3><%=t( :'uk.org.pond.canvass.search.results' ) %></h3><% end %>
<%= render :partial => 'list' %>
<%= render :partial => 'shared/simple_search' %>