/************************************************************************\
 * File:    default_print.css                                           *
 *          Hipposoft 2009, 2010, 2011                                  *
 *                                                                      *
 * Purpose: Default stylesheet - printed media variations.              *
 *                                                                      *
 * History: 11-Dec-2009 (ADH): Created.                                 *
 *          18-Feb-2011 (ADH): Abridged version imported from Artisan.  *
\************************************************************************/

/* Hide components dedicated to web navigation only - these have no meaning
 * in print.
 */

div#header_wrapper,
div#above_footer,
div#footer_wrapper,
div#lightwindow,
div#lightwindow_overlay,
.buttons,
.leightbox,
.simple_search {
  display: none !important;
}

/* Clear data related to pushing content away from header or footer areas.
 */

div#header_and_content {
  min-height: 0;
  padding-top: 0;
}

div.content {
  padding-bottom: 0;
}
