    <div id="footer_wrapper"><div class="footer">
      <div id="footer_content"><div id="footer_content_inner">
        <div id="footer_site_id">
          <div id="footer_site_name">
            <%= apphelp_site_name %>
          </div>
<% tagline = apphelp_site_tagline(); unless tagline.blank? -%>
          <div id="footer_site_tagline">
            <%= tagline %>
          </div>
<% end -%>
        </div>

        <div id="footer_copyright">
          <div id="footer_copyright_aligner">&nbsp;</div>
          &copy; <a href="http://hipposoft.pond.org.uk/">Hipposoft</a> 2011
        </div>

        <div class="footer_section_end"></div>
      </div></div>
      <div id="footer_content_after"></div>
    </div></div>